In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

import datetime as dt

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
results_jun = []
results_jun = session.query(Measurement.date, Measurement.tobs).filter(extract("month", Measurement.date) == 6)

In [5]:
#  3. Convert the June temperatures to a list.
temps_jun = list(results_jun)

In [17]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
jun_df = pd.DataFrame(temps_jun)
jun_df.columns = ["0","June Temps"]
jun_df.head()

            0  June Temps
0  2010-06-01        78.0
1  2010-06-02        76.0
2  2010-06-03        78.0
3  2010-06-04        76.0
4  2010-06-05        77.0

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
jun_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results_dec = []
results_dec = session.query(Measurement.date, Measurement.tobs).filter(extract("month", Measurement.date) == 12)

In [9]:
# 7. Convert the December temperatures to a list.
temps_dec = list(results_dec)

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(temps_dec)
dec_df.columns = ["0","December Temps"]
dec_df.head()

            0  December Temps
0  2010-12-01            76.0
1  2010-12-03            74.0
2  2010-12-04            74.0
3  2010-12-06            64.0
4  2010-12-07            64.0

In [11]:
# 9. Calculate and print out the summary statistics for the December temperature DataFrame.
dec_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

# Additional Analysis

In [ ]:
# Calculate June Precipitation

In [26]:
# Write a query that filters the Measurement table to retrieve the precipitation for the month of June.
results_jun = []
results_jun = session.query(Measurement.date, Measurement.prcp).filter(extract("month", Measurement.date) == 6)

In [27]:
# Convert the June precipitation to a list.
precip_jun = list(results_jun)

In [34]:
# Create a DataFrame from the list of precipitation for the month of June. 
jun_df = pd.DataFrame(precip_jun)
jun_df.columns = ["0","June Precipitation"]
jun_df.head()

            0  June Precipitation
0  2010-06-01                0.00
1  2010-06-02                0.01
2  2010-06-03                0.00
3  2010-06-04                0.00
4  2010-06-05                0.00

In [29]:
# Calculate and print out the summary statistics for the June precipitation DataFrame.
jun_df.describe()

       June Precipitation
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

In [ ]:
# Calculate December Precipitation

In [22]:
# Write a query that filters the Measurement table to retrieve the precipitation for the month of December.
results_dec = []
results_dec = session.query(Measurement.date, Measurement.prcp).filter(extract("month", Measurement.date) == 12)

In [23]:
# Convert the December precipitation to a list.
precip_dec = list(results_dec)

In [24]:
# Create a DataFrame from the list of precipitation for the month of December. 
dec_df = pd.DataFrame(precip_dec)
dec_df.columns = ["0","December Precipitation"]
dec_df.head()

            0  December Precipitation
0  2010-12-01                    0.04
1  2010-12-03                    0.00
2  2010-12-04                    0.00
3  2010-12-06                    0.00
4  2010-12-07                    0.00

In [25]:
# Calculate and print out the summary statistics for the December precipitation DataFrame.
dec_df.describe()

       December Precipitation
count             1405.000000
mean                 0.216819
std                  0.541399
min                  0.000000
25%                  0.000000
50%                  0.030000
75%                  0.150000
max                  6.420000